
.App {
    text-align: center;
    font-family: sans-serif;
  }
  
  /* .bg{
   
    background-image: url(./unnamed.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    
  } */
  

.yourf{
  text-align: center;
  font-size:xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  .tttt{
    padding-left: 10%;
    padding-right: 15%;
  }
  



  .ui.main.container{
    margin-top: 6em;
  }

  .images{
    width: 300px;
    height: 200px;
  
  } 
.card{
  text-align: center;
}


  .text{
    text-align: center;
  }

  
  .header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
  }
  
  
  .p {
    color: #bf1650;
    text-align: center;
  }
  
  select,
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
.buttonBlack {
  background: black;
  border: 1px solid white;
}




input[type="submit"],
.button {
  background: red;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
  padding: 20px;
  font-size: 20px;
  font-weight: 100;
  display: block;
  appearance: none;
  border-radius: 4px;
  width: 100%;
  font-weight: lighter;
}

button[type="button"] {
  padding: 5px;
  background: #516391;
  color: white;
  letter-spacing: 0px;
  text-transform: none;
  padding: 10px;
  letter-spacing: 2px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.counter {
  font-weight: 400;
  background: white;
  color: black;
  padding: 10px 15px;
  border-radius: 4px;
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 9999999;
}

button[type="button"]:hover {
  background: #bf1650;
  color: white;
}

input,select{
  border: 2px red solid ;
}


.text-color{
  color: white;
}